<!-- Employee Group Page -->
<!-- Ref: HTML Forms CS 290 lecture -->
 
<html>
    <header>

    </header>

    <body> 
        <table>
            <th> 
                <td> groupName </td> 
                <td> groupId   </td>
                <td> lastName  </td>
                <td> firstName </td>
            </th>    
            <tbody>
                {{{table_body}}}
            </tbody>
        </table>

        <form action="http://michaelsapp.com/add-employee method="post">
            <fieldset>
                <legend> Add a Group </legend>
                <label> Group Name: </label>  <input type="text" id="group_name"/>
                <input type="submit" value="Submit Group"/>
            </fieldset>
            <fieldset>
                <legend> Add an Employee to a Group </legend>
                <label> Employee First Name: </label>     <input type="text" id="first"/>
                <label> Employee Last Name: </label>     <input type="text" id="last"/>
                <label> Group: </label>            <input type="text" id="group_selected"/>
                <input type="submit" value="Submit Employee"/>
            </fieldset>
        </form>

        <b>{{{confirmation_msg}}}</b>
    </body>
</html>
