<h1>Pokedex Home Page:</h1>
<h2>Edit Database</h2>
<h3>Entities</h3>
<ul style="list-style-type:none">
<li><a href="/pokemon">Pokemon</a></li>
<li><a href="/locations">Locations</a></li>
<li><a href="/types">Types</a></li>
<li><a href="/moves">Moves</a></li>
</ul>
<h3>Relationships</h3>
<ul style="list-style-type:none">
<li><a href="/pokemon_locations">Pokemon and Locations</a></li>
<li><a href="/pokemon_types">Pokemon and Types</a></li>
<li><a href="/pokemon_moves">Pokemon and Moves</a></li>
</ul>
<h2>Filtered Views</h2>
<h3>Relationship Reversals</h3>
<ul style="list-style-type:none">
<li><a href="/pokemon_to_locations">Pokemon vs Locations</a></li>
<li><a href="/locations_to_pokemon">Locations vs Pokemon</a></li>
<br>
<li><a href="/pokemon_to_types">Pokemon vs Types</a></li>
<li><a href="/types_to_pokemon">Types vs Pokemon</a></li>
<br>
<li><a href="/pokemon_to_moves">Pokemon vs Moves</a></li>
<li><a href="/moves_to_pokemon">Moves vs Pokemon</a></li>
<br>
<li><a href="/types_to_moves">Types vs Moves</a></li>
<li><a href="/moves_to_types">Moves vs Types</a></li>
</ul>
<h3>Full Database - Ordered by ID</h3>
<ul style="list-style-type:none">
<li><a href="/fulldatabase_id_asc">ID Ascending</a></li>
<li><a href="/fulldatabase_id_desc">ID Descending</a></li>
</ul>
<h3>Full Database - Ordered by Pokemon</h3>
<ul style="list-style-type:none">
<li><a href="/fulldatabase_name_asc">Pokemon Names Ascending</a></li>
<li><a href="/fulldatabase_name_desc">Pokemon Names Descending</a></li>
</ul>
