<h1>Pokemon and Types View:</h1>
{{#each foo}}
{{this}}
{{/each}}
<table>
    <thead> 
        <th>Pokemon</th>
        <th>Types</th>
    </thead>
    <tbody> 
        {{#each view}}
        <tr> 
            <td>{{Pokemon}}</td>
            <td>{{Types}}</td>
        </tr> 
        {{/each}} 
    </tbody>
</table>
<br>
<a href="/">Return to homepage</a>
