<h1> Rules </h1>

<table id="rules_table">
    <thead>
        <th> rule_name </th>
        <th> lockdown_boundary </th>
        <th> group_name </th>
        <th> feature_disabled </th>
    </thead>
    {{{table_body}}}
</table>
<form action="/add-rule" method="post">
    <fieldset>
        <legend> Add a Rule </legend>
        <label> Rule Name: </label>
        <input type="text" name="rule_name" />
        <label> Group Name: </label>
        <select id="group_name" name="group_name"></select>
        <label> Lockdown Boundary: </label>
        <select id="boundary_name" name="boundary_name"></select>
        <label> Feature to Disable: </label>
        <select id="feature_to_disable" name="feature_to_disable"></select>
        <input type="submit" value="Submit Rule" />
    </fieldset>
</form>
<b>{{{confirmation_msg}}}</b>
<script src="rules.js"> </script>
