<h1>Types:</h1>
{{#each foo}}
{{this}}
{{/each}}
<table>
    <thead> 
        <th>Name</th>
    </thead>
    <tbody> 
        {{#each types}}
        <tr> 
            <td>{{name}}</td>
            <td><button onclick="deleteType({{id}})">Delete</button></td>
            <td><a href="/types/{{id}}">Update</a></td>
        </tr> 
        {{/each}} 
    </tbody> 
    <form id="addtype" action="/types" method="post">
    Name: <input type="text" name="name"><br>
    <input type="submit" value="Submit">
    </form>
</table> 
<br>
<a href="/">Return to homepage</a>
