<h1>Update {{type.name}}:</h1>
<form id="update-type" action="/types" method="post">
    Name: <input type="text" name="name" value="{{type.name}}"><br>
</form>
<button onclick="updateType({{type.id}})">Update</button>

