<!-- Reference: HTML Tag Examples Lecture, Hello Handlebars Lecture -  CS 290 -->

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title> SecureApp </title>
</head>

<body>
    <h1> SecureApp </h1>

    {{{body}}}

    <!-- Reference: https://stackoverflow.com/questions/2906582/how-to-create-an-html-button-that-acts-like-a-link -->

    </br>
    </br>
    </br>

    <button onclick="window.location.href='/employee'"> Employee Groups </button>
    <button onclick="window.location.href='/anomalies'"> Anomalies </button>
    <button onclick="window.location.href='/lockdown-boundaries'"> Lockdown Boundaries </button>
    <button onclick="window.location.href='/rules'"> Rules </button>	
</body>

</html>
