<!DOCTYPE html>
<html>
<head>
	<title>Handlebars Page</title>
</head>
<body>
	{{{body}}}
</body>
</html>
<!-- Reference: HTML Tag Examples Lecture, Hello Handlebars Lecture -  CS 290 -->

<!DOCTYPE html>
<html>

	<head> 
		<meta charset="UTF-8">
		<title> SecureApp </title>
	</head>

	<body>
		<h1> SecureApp </h1>
		
		{{{body}}}

		<!-- Reference: https://stackoverflow.com/questions/2906582/how-to-create-an-html-button-that-acts-like-a-link --> 
		
		<button onclick="window.location.href='/employee'"> Employee Groups </button>
		<button onclick="window.location.href='/anomalies'"> Anomalies </button>
		<button onclick="window.location.href='/lockdown-boundaries'"> Lockdown Boundaries </button> 
		
	</body>
	
</html>
